<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>회원 가입</title>
</head>
<body>
<main layout:fragment="main" class="login-form">
    <script>
        $(document).ready(function() {
            $('input[type=radio][name="state"]').change(function() {
                if (this.value === 'MEMBER') {
                    $('#tagSelection').show();
                } else {
                    $('#tagSelection').hide();
                }

                if (this.value === 'BRAND_ADMIN') {
                    $('#brandNameInput').removeClass('hidden');
                } else {
                    $('#brandNameInput').addClass('hidden');
                }
            });
        });
    </script>

    <script>
        function JoinForm__submit(form) {

            form.email.value = form.email.value.trim();

            if (form.email.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.email.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.phoneNumber.value = form.phoneNumber.value.trim();

            if (form.phoneNumber.value.length === 0) {
                toastWarning('번호를 입력해주세요.');
                form.phoneNumber.focus();
                return;
            }

            if (form.phoneNumber.value.length < 4) {
                toastWarning('번호를 11자 이상 입력해주세요.');
                form.phoneNumber.focus();
                return;
            }

            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                toastWarning('이름을 입력해주세요.');
                form.username.focus();
                return;
            }

            form.role.value = form.role.value.trim();

            if (form.role.value == null) {
                toastWarning('권한을 골라주세요.');
                form.role.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="w-full max-w-md px-8 py-6 bg-white rounded-lg shadow-2xl">
    <form th:action method="post" onsubmit="JoinForm__submit(this); return false;" th:object="${joinForm}">
            <div class="form-control">
                <label class="label text-gray-700">
                    <span class="label-text">이메일</span>
                </label>
                <label>
                    <input type="text" name="email" placeholder="이메일을 입력해주세요." class="input input-bordered input-accent w-full max-w-xs py-2 px-4 bg-gray-100 mt-2 rounded border border-gray-300" autoFocus/>
                </label>
            </div>
            <div class="form-control mt-4">
                <label class="label text-gray-700">
                    <span class="label-text">비밀번호</span>
                </label>
                <label>
                    <input type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered input-accent w-full max-w-xs py-2 px-4 bg-gray-100 mt-2 rounded border border-gray-300" autoFocus/>
                </label>
            </div>
            <div class="form-control mt-4">
                <label class="label text-gray-700">
                    <span class="label-text">이름</span>
                </label>
                <label>
                    <input type="text" name="username" placeholder="이름을 입력해주세요." class="input input-bordered input-accent w-full max-w-xs py-2 px-4 bg-gray-100 mt-2 rounded border border-gray-300" autoFocus/>
                </label>
            </div>
            <div class="form-control mt-4">
                <label class="label text-gray-700">
                    <span class="label-text">전화번호</span>
                </label>
                <label>
                    <input type="tel" name="phoneNumber" placeholder="휴대폰 번호를 입력해주세요." class="input input-bordered input-accent w-full max-w-xs py-2 px-4 bg-gray-100 mt-2 rounded border border-gray-300" autoFocus/>
                </label>
            </div>
            <div class="form-control mt-4">
                <h3>
                    <span class="label-text">어떤 용도로 사용하시나요?</span>
                </h3>
                <div class="btn-group">
                    <label>
                        <input type="radio" th:field="*{state}" name="ADMIN" value="ADMIN" class="radio radio-success" autoFocus/>
                    </label><label class="mr-2">관리자</label>
                    <label>
                        <input type="radio" id="BRAND_ADMIN" th:field="*{state}" name="BRAND_ADMIN" value="BRAND_ADMIN" class="radio radio-success"/>
                    </label><label class="mr-2">브랜드관리자</label>
                    <label>
                        <input type="radio" th:field="*{state}" name="role" value="MEMBER" id="memberRadio" class="radio radio-success"/>
                    </label><label class="mr-2">사용자</label>
                </div>

                <div id="brandNameInput" data-type-1="BRAND_ADMIN" class="hidden">
                    <label class="block mt-2 text-sm text-gray-600">브랜드 이름:</label>
                    <label>
                        <input type="text" name="brand" placeholder="브랜드 이름을 입력해주세요." class="input input-bordered input-accent w-full max-w-xs py-2 px-4 bg-gray-100 mt-2 rounded border border-gray-300" autoFocus/>
                    </label>
                </div>

                <div class="form-control hidden" id="tagSelection">
                    <h3 class="">
                        <span class="label-text">선호하는 태그를 선택 해주세요!</span>
                    </h3>
                    <div class="grid grid-cols-3 gap-4 cursor-pointer label">
                        <div th:each="tag, iterStat : ${allTags}" class="flex items-center space-x-2">
                            <input type="checkbox" th:field="*{tags}" th:name="${tag.name}" th:value="${tag.name}" id="tag_${iterStat.index}" class="checkbox checkbox-success" />
                            <label th:for="'tag_' + ${iterStat.index}" class="ml-2" th:text="${tag.name}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-control mt-4">
                <button id="btn-join-1 w-min" class="btn w-full py-2 bg-black text-white rounded hover:bg-black-700 transition duration-200 ease-in-out">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>회원가입</span>
                </button>
            </div>
        </form>
        <div class="mt-4">
            <a href="/trendpick/member/login" class="text-blue-600 hover:text-blue-700 transition duration-200 ease-in-out">이미 계정이 있나요?</a>
        </div>
    </div>
</main>
</body>
</html>
