<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/css/bootstrap.min.css">
</head>
<body>
<h1>주문 목록</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">주문번호</th>
        <th scope="col">브랜드명</th>
        <th scope="col">메인사진</th>
        <th scope="col">상품명</th>
        <th scope="col">사이즈</th>
        <th scope="col">주문일시</th>
        <th scope="col">주문금액</th>
        <th scope="col">주문상태</th>
        <th scope="col">배송상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderList}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.brandName}"></td>
        <td><img th:src="${order.productFilePath}" alt="상품 이미지" width="50"></td>
        <td th:text="${order.productName}"></td>
        <td th:text="${order.size}"></td>
        <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.deliveryStatus}"></td>
    </tr>
    </tbody>
</table>

<!--<div th:if="${orderList.totalPages > 1}">-->
<!--    <ul class="pagination">-->
<!--        <li class="page-item" th:classappend="${orderList.first ? 'disabled' : ''}">-->
<!--            <a class="page-link" th:href="@{/?page=1}">First</a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${orderList.previousPageable.first ? 'disabled' : ''}">-->
<!--            <a class="page-link" th:href="@{/?page=${orderList.previousPageable.pageNumber}}">Previous</a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}" th:each="currentPage : ${orderList.pages}">-->
<!--            <a class="page-link" th:href="@{/?page=${currentPage}}">[[${currentPage}]]</a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${orderList.nextPageable.first ? 'disabled' : ''}">-->
<!--            <a class="page-link" th:href="@{/?page=${orderList.nextPageable.pageNumber}}">Next</a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${orderList.last ? 'disabled' : ''}">-->
<!--            <a class="page-link" th:href="@{/?page=${orderList.totalPages}}">Last</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>