<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/css/bootstrap.min.css">
</head>
<main class="min-h-screen flex flex-col" layout:fragment="main">
    <body>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">주문번호</th>
            <th class="text-center" scope="col">상품정보</th>
            <th class="text-center" scope="col">주문수량</th>
            <th class="text-center" scope="col">주문금액</th>
            <th class="text-center" scope="col">주문일시</th>
            <th class="text-center" scope="col">주문상태</th>
            <th class="text-center" scope="col">배송상태</th>
            <th class="text-center" scope="col">리뷰등록</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, loop : ${orderList}">
            <td class="text-center" th:text="${orderList.number * 10 + loop.count}"></td>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            <img th:src="|/images/${order.productFilePath}|" width="100" height="100"/>
                        </div>
                    </div>
                    <div>
                        <div class="font-bold" th:text="${order.productName}"></div>
                        <div class="text-sm opacity-50" th:text="${order.brandName}"></div>
                    </div>
                </div>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-sm" th:text="${order.count+'개'}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-sm" th:text="${order.totalPrice+'원'}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-sm" th:text="${#temporals.format(order.orderDate, 'MM/dd')}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-sm" th:text="${order.orderStatus}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-sm" th:text="${order.deliveryStatus}"></span>
            </td>
            <td class="text-center">
                <a th:href="@{|/trendpick/review/register/${order.productId}|}">
                    등록
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="flex justify-center my-4" th:if="orderList != null">
        <div class="btn-group">
            <a th:if="${orderList.hasPrevious()}" th:href="@{/trendpick/products/list(page=${orderList.number - 1})}" class="btn">Previous</a>
            <span th:each="i : ${#numbers.sequence(0, orderList.totalPages - 1)}">
            <a th:href="@{/trendpick/orders/list(page=${i})}" th:text="${i+1}" th:class="${orderList.number == i ? 'btn btn-active' : 'btn'}"></a>
        </span>
            <a th:if="${orderList.hasNext()}" th:href="@{/trendpick/orders/list(page=${orderList.number + 1})}" class="btn">Next</a>
        </div>
    </div>
    </body>
</main>
</html>