<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>TrendPick</title>
</head>
<body>
<main layout:fragment="main" class="h-screen w-screen bg-white flex flex-col" style="max-width:100%;">
    <h1>고객센터</h1>
    <div class="mt-4 mb-4">
        <div class="p-4 bg-white border rounded">
            <form th:object="${askForm}" method="post">
                <input type="hidden" th:field="*{productId}" th:value="${askForm.productId}" class="form-control">
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <div class="border rounded">
                        <textarea th:field="*{title}" th:value="${askForm.title}" class="form-control form-control-lg" rows="1" style="width: 100%; resize: vertical;"></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <div class="border rounded">
                        <textarea th:field="*{content}" th:value="${askForm.content}" class="form-control form-control-lg" rows="10" style="width: 100%; resize: vertical;"></textarea>
                    </div>
                </div>
                <hr>
                <input type="submit" value="저장하기" class="btn btn-accent btn-lg my-2">
            </form>
        </div>
    </div>
</main>
</body>
</html>