<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/cart/cartlayout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th><input type="checkbox" id="selectAllCheckbox"></th>
            <th>번호</th>
            <th>상품ID</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, i : ${cartItems}">
            <td><input type="checkbox" name="selectedItems" th:value="${item.getId()}"></td>
            <td th:text="${i.count}">1</td>
            <td th:text="${item.getProduct().getId()}"></td>
            <td>
                <a  th:href="@{/trendpick/products/{productId}(productId=${item.getProduct().getId()})}"
                        th:text="${item.getProduct().getName()}"></a>
            </td>
            <td th:text="${#numbers.formatDecimal(item.getProduct().getPrice(), 0, 'COMMA', 0, 'POINT')} + ' 원'"></td>

            <td>
                <form th:action="@{/trendpick/usr/cart/update}" method="post" class="quantity_update_form">
                    <input type="hidden" name="cartItemId" th:value="${item.getId()}">
                    <div class="quantity_div">
                        <button type="button" class="quantity_btn minus_btn" onclick="updateQuantity(this, -1,form)">-
                        </button>
                        <input type="number" name="quantity" th:value="${item.getQuantity()}" min="1" class="quantity_input" onchange="updateInputValue(this)" readonly>
                        <button type="button" class="quantity_btn plus_btn" onclick="updateQuantity(this, 1,form)">+</button>
                    </div>
                </form>
            </td>
            <td class="btn btn-outline-dark"><a
                    th:href="@{/trendpick/usr/cart/{memberId}/{cartItemId}(memberId=${item.getCart().getMember().getId()}, cartItemId=${item.getId()})}"
                    style="text-decoration: none">삭제</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">총 결제금액</h4>
                </div>
                <form th:action="@{/trendpick/orders/cart}" method="post" id="cartForm">
                    <input type="hidden" id="selectedItemsInput" name="selectedItems">
                    <h4 class="card-title pricing-card-title" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></h4>
                <button type="submit" class="w-100 btn btn-lg btn-outline-primary" onclick="submitCartForm(this.form)">구매하기</button>
                </form>
            </div>
        </div>
    </div>

<script>
    function updateQuantity(element, amount,form) {
        const quantityInput = element.parentNode.querySelector('.quantity_input');
        let quantity = parseInt(quantityInput.value);
        quantity += amount;
        if (quantity < 1) {
            quantity = 1;
        }
        quantityInput.value = quantity;
        form.submit();
    }
    function updateInputValue(input) {
        const quantity = parseInt(input.value);
        if (isNaN(quantity) || quantity < 1) {
            input.value = 1;
        }
    }

    // 전체 선택 체크박스 클릭 시 모든 상품 체크박스 상태 변경
    document.getElementById('selectAllCheckbox').addEventListener('click', function () {
        var checkboxes = document.getElementsByName('selectedItems');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });
    function submitCartForm(form) {
        var selectedItems = document.getElementsByName('selectedItems');
        var selectedIds = [];
        for (var i = 0; i < selectedItems.length; i++) {
            if (selectedItems[i].checked) {
                selectedIds.push(selectedItems[i].value);
            }
        }
        document.getElementById('selectedItemsInput').value = selectedIds.join(',');
        document.getElementById('cartForm').submit();
        form.submit();
    }
</script>
</div>
</body>
</html>