<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>TrendPick</title>
</head>
<body>
<main layout:fragment="main" class="h-screen w-screen bg-white flex flex-col" style="max-width:100%;">
    <div class="border p-4 rounded-lg">
        <!-- 문의글 -->
        <div class="border-b mb-4 pb-2">
            <a th:href="@{|/trendpick/products/${ask.productId}|}">
                <span class="badge bg-accent text-white" th:text="${ask.productName} + ' 상품 문의'"></span>
            </a>
            <hr class="my-2">
            <div class="mb-2 flex">
                <strong>작성자 : </strong>
                <p th:text=" ${ask.memberName}"></p>
            </div>
            <hr class="my-2">
            <div class="mb-2 flex">
                <strong>제목 :</strong>
                <p th:text=" ${ask.title}"></p>
            </div>
            <hr class="my-2">
            <strong>내용:</strong>
            <div class="mb-2 border rounded p-2">
                <p th:text="${ask.content}" readonly></p>
            </div>
            <div th:if="${@rq.checkMember()}">
                <div class="flex justify-end" th:if="${@rq.getMember().id} == ${ask.memberId}">
                    <a th:href="@{|/trendpick/customerservice/asks/edit/${ask.askId}|}" class="mr-2">수정</a>
                    <form th:action="@{|/trendpick/customerservice/asks/delete/${ask.askId}|}" method="post"
                          style="display: inline;">
                        <input type="hidden" name="_method" value="POST"/>
                        <button type="submit" class="mr-2">삭제</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 답변 -->
        <div th:if="${!answers.isEmpty()}">
            <span class="badge bg-accent text-white">답변 (관리자)</span>
            <hr class="my-2">
            <!-- 답변 목록 반복 -->
            <div th:each="answer : ${answers}" class="mb-4">
                <div class="border-b pb-2">
                    <div class="mb-2" th:text="${answer.content}"></div>
                    <div class="text-sm text-gray-500">
                        <strong>작성일:</strong>
                        <p th:text="${#temporals.format(answer.createdDate, 'YY-MM-dd')}"></p>
                    </div>
                    <div th:if="${@rq.checkLogin()}">
                        <div class="flex justify-end" th:if="${@rq.checkBrand()}">
                            <form th:action="@{|/trendpick/customerservice/answers/delete/${answer.answerId}|}"
                                  method="post" style="display: inline;">
                                <input type="hidden" name="_method" value="POST"/>
                                <button type="submit" class="mr-2">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${@rq.checkAdminOrBrand()}">
            <form th:object="${answerForm}" method="post"
                  th:action="@{|/trendpick/customerservice/answers/register?ask=${ask.askId}|}">
                <div class="mb-3">
                    <label class="form-label">답변</label>
                    <div class="border rounded">
                        <textarea th:field="*{content}" class="form-control form-control-lg" rows="5"
                                  style="width: 100%; resize: vertical;"></textarea>
                    </div>
                </div>
                <input type="submit" value="답변달기" class="btn btn-accent btn-lg my-2">
            </form>
        </div>
    </div>
</main>
</body>
</html>