<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>정산데이터 목록</title>
</head>

<main layout:fragment="main">
    <section class="section container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-sack-dollar"></i>
                정산
            </h1>

            <div class="flex">
                <div class="mt-2 flex flex-column">
                    <select name="yearMonth" class="select select-bordered"
                            th:currentUrl="${@rq.modifyQueryParam('yearMonth', '')}"
                            onchange="location.href = this.getAttribute('currentUrl') + this.value;">
                        <option value="2023-06">2023-06</option>
                        <option value="2023-07">2023-07</option>
                        <option value="2023-08">2023-08</option>
                        <option value="2023-09">2023-09</option>
                        <option value="2023-10">2023-10</option>
                        <option value="2023-11">2023-11</option>
                        <option value="2023-12">2023-12</option>
                    </select>
                    <script th:inline="javascript">
                        const yearMonth = /*[[ ${yearMonth} ]]*/ null;
                        $('select[name=yearMonth]').last().val(yearMonth);
                    </script>
                </div>
                <div class="flex p-4">
                    <div class="flex mb-2 mr-4">
                        <div class="font-bold">월 총매출 </div>
                        <div th:text="' : ' + ${#numbers.formatDecimal(monthRebateData.totalSales, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></div>
                    </div>
                    <div class="flex mb-2">
                        <div class="font-bold">월 정산금액 </div>
                        <div th:text="' : ' + ${#numbers.formatDecimal(monthRebateData.netProfit, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></div>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto mt-2">

                <table class="table table-compact w-full">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="orderItemCheckboxAll checkbox">
                        </th>
                        <th>주문품목번호</th>
                        <th>결제날짜</th>
                        <th>상품명</th>
                        <th>객단가</th>
                        <th>구매수량</th>
                        <th>쿠폰할인금액</th>
                        <th>결제금액</th>
                        <th>정산수수료</th>
                        <th>정산금액</th>
                        <th>정산날짜</th>
                        <th>정산</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="item : ${items}">
                        <td>
                            <input onchange="OrderItemCheckbox__changed();" th:unless="${item.isAlreadyRebated()}"
                                   type="checkbox" class="orderItemCheckbox checkbox" th:value="${item.orderItem.id}">
                        </td>
                        <td th:text="${item.orderItem.id}"></td>
                        <td th:text="${#temporals.format(item.createdDate, 'yy-MM-dd HH:mm')}"></td>
                        <td th:text="${item.productSubject}"></td>
                        <td th:text="${#numbers.formatDecimal(item.totalPrice/item.quantity, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${item.quantity} + '개'"></td>
                        <td th:text="${#numbers.formatDecimal(item.discountPrice, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${#numbers.formatDecimal(item.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${#numbers.formatDecimal(item.totalPrice * 0.05, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${#numbers.formatDecimal(item.calculateRebatePrice(), 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${#temporals.format(item.rebateDate, 'yy-MM-dd HH:mm')}"></td>
                        <td>
                            <a th:if="${item.isAlreadyRebated()}">정산완료</a>
                            <a th:unless="${item.isAlreadyRebated()}" href="javascript:;" onclick="$(this).next().submit();"
                               class="btn btn-primary btn-xs">정산</a>
                            <form method="POST" th:action="@{|/trendpick/admin/rebateOne/${item.orderItem.id}|}"
                                  hidden></form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-container grid grid-cols-1 mt-2 gap-1">
                <a href="javascript:;" onclick="if (RebateForm__submit()) document.getElementById('rebateForm').submit();" class="btn btn-outline">전체정산처리</a>
                <form id="rebateForm" th:action="@{|/trendpick/admin/rebate|}" method="post" hidden>
                    <input type="hidden" name="yearMonth" th:value="${yearMonth}">
                </form>
            </div>

            <script>
                // 전체선택 체크박스
                const $orderItemCheckboxAll = $('.orderItemCheckboxAll');
                // 아이템 체크박스
                const $orderItemCheckbox = $('.orderItemCheckbox');

                $orderItemCheckboxAll.change(function () {
                    const allChecked = $(this).prop('checked');
                    $orderItemCheckbox.prop('checked', allChecked); // 아이템 체크박스들에게 체크상태 동기화
                });

                function OrderItemCheckbox__changed() {
                    const allChecked = $orderItemCheckbox.length == $('.orderItemCheckbox:checked').length;

                    $orderItemCheckboxAll.prop('checked', allChecked);
                }

                let RebateForm__submitDone = false;

                function RebateForm__submit() {
                    if (RebateForm__submitDone) return;

                    var confirmAction = confirm("정산처리 하시겠습니까?" +
                        "\n(명월 10일에 자동 정산처리됩니다.)");
                    if (confirmAction) {
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>
        </div>
    </section>
</main>

</html>