<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>판매 목록</title>
</head>
<body>
<main class="min-h-screen flex flex-col" layout:fragment="main">
    <br/><br/>
    <h1 class="text-center text-5xl font-bold mb-6">판매내역</h1>

    <div class="text-black p-2 rounded-lg font-bold text-right" style="font-size: 2em;">
        <span th:text="${#dates.format(#dates.createNow(), 'MM')+'월 정산금: '+ #numbers.formatDecimal(totalPricePerMonth, 0, 'COMMA', 0, 'POINT')}+'원'"></span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">판매번호</th>
            <th class="text-center" scope="col">상품정보</th>
            <th class="text-center" scope="col">판매수량</th>
            <th class="text-center" scope="col">판매금액</th>
            <th class="text-center" scope="col">판매일시</th>
            <th class="text-center" scope="col">주문상태</th>
            <th class="text-center" scope="col">배송상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, loop : ${orderList}">
            <td class="text-center">
                <a th:href="@{/trendpick/products/{productId}(productId=${order.productId})}"
                   th:text="${orderList.number * 10 + loop.count}">
                </a>
            </td>
            <td class="text-center">
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            <a th:href="@{/trendpick/products/{productId}(productId=${order.productId})}">
                                <img th:src="|https://kr.object.ncloudstorage.com/trendpick/${order.productFilePath}|" width="100" height="100"/>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="font-bold">
                            <a th:href="@{/trendpick/products/{productId}(productId=${order.productId})}"
                               th:text="${order.productName}">
                            </a>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-m" th:text="${order.count+'개'}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-m" th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-m" th:text="${#temporals.format(order.orderDate, 'MM/dd')}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-m" th:text="${order.orderStatus}"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-ghost badge-m" th:text="${order.deliveryStatus}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="flex justify-center my-4" th:if="${orderList != null and not #lists.isEmpty(orderList.content)}">
        <div class="btn-group">
            <a th:if="${orderList.hasPrevious()}" th:href="@{/trendpick/orders/admin/list(page=${orderList.number - 1})}" class="btn">Previous</a>
            <span th:each="i : ${#numbers.sequence(0, orderList.totalPages - 1)}">
            <a th:href="@{/trendpick/orders/admin/list(page=${i})}" th:text="${i+1}" th:class="${orderList.number == i ? 'btn btn-active' : 'btn'}"></a>
        </span>
            <a th:if="${orderList.hasNext()}" th:href="@{/trendpick/orders/admin/list(page=${orderList.number + 1})}" class="btn">Next</a>
        </div>
    </div>
</main>
</body>
</html>