<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <title>출금신청 목록</title>
</head>

<main layout:fragment="main">
    <section class="section container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                출금신청 목록
            </h1>

            <div class="overflow-x-auto mt-2">

                <table class="table table-compact w-full">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>브랜드명</th>
                        <th>은행명</th>
                        <th>계좌번호</th>
                        <th>금액</th>
                        <th>출금날짜</th>
                        <th>출금완료여부</th>
                        <th>메세지</th>
                        <th>출금하기</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="item : ${withdrawApplies}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.applicant.username}"></td>
                        <td th:text="${item.bankName}"></td>
                        <td th:text="${item.bankAccountNo}"></td>
                        <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')} + ' 원 '"></td>
                        <td th:text="${#temporals.format(item.withdrawDate, 'yy-MM-dd HH:mm')}"></td>
                        <td>
                            <span th:text="${item.applyDone ? 'O' : 'X'}"></span>
                        </td>
                        <td>
                            <span th:text="${item.msg}"></span>
                        </td>
                        <td>
                            <a th:if="${item.applyDoneAvailable}" href="javascript:;" onclick="$(this).next().submit();"
                               class="btn btn-primary btn-xs">출금</a>
                            <form method="POST" th:action="@{|/trendpick/admin/${item.id}|}" hidden></form>
                            <button th:if="${item.applyDone}" disabled class="btn btn-primary btn-xs" type="button">
                                출금완료
                            </button>

                            <a th:if="${item.cancelAvailable}" href="javascript:;"
                               onclick="confirm('정말로 취소하시겠습니까?') && $(this).next().submit();"
                               class="btn btn-warning btn-outline btn-xs">취소</a>
                            <form method="POST" th:action="@{|/trendpick/admin/${item.id}/cancel|}" hidden></form>

                            <button th:if="${item.cancelDone}" disabled class="btn btn-primary btn-xs" type="button">
                                취소
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

</html>