<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>알림</title>
</head>

<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <div class="text-center mt-10" th:if="${#lists.isEmpty(orderNotifications) && #lists.isEmpty(deliveryNotifications)}">
            <i class="fa-regular fa-face-laugh"></i> 최근에 받은 알림이 없습니다.
        </div>
        <div class="space-y-4">
            <div class="bg-white shadow-md rounded-lg px-6 py-4" th:each="notification : ${orderNotifications}">
                <div class="flex items-center justify-between mb-2">
                    <div class="text-gray-500">
                        <i class="fa-regular fa-clock"></i> 알림
                    </div>
                </div>
                <div class="space-y-2">
                    <div>
                        <span th:text="${notification.getOrderState()}"></span>
                    </div>
                    <div>
                        날짜: <span th:text="${#temporals.format(notification.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <div>
                        주문번호: <span th:text="${notification.getOrder().getId()}"></span>
                    </div>
                    <div>
                        상품명:
                        <span th:if="${#strings.length(notification.getOrder().getOrderItems().get(0).getProduct().getName()) > 10}"
                              th:text="${#strings.substring(notification.getOrder().getOrderItems().get(0).getProduct().getName(), 0, 10)} + '...'"></span>
                        <span th:unless="${#strings.length(notification.getOrder().getOrderItems().get(0).getProduct().getName()) > 10}"
                              th:text="${notification.getOrder().getOrderItems().get(0).getProduct().getName()}"></span>
                        <span th:if="${notification.getOrder().getOrderItems().size() > 1}">..외
                            <span th:text="${notification.getOrder().getOrderItems().size() - 1}"></span>개</span>
                    </div>
                    <div>
                        주문총액: <span th:text="${#numbers.formatDecimal(notification.getOrder().getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + '원'"></span>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg px-6 py-4" th:each="notification : ${deliveryNotifications}">
                <div class="flex items-center justify-between mb-2">
                    <div class="text-gray-500">
                        <i class="fa-regular fa-clock"></i>알림
                    </div>
                    <div class="text-gray-400">
                        <span th:text="${#temporals.format(notification.getCreateDate(), 'yyyy-MM-dd')}"></span>
                    </div>
                </div>
                <div class="space-y-2">
                    <div>
                        <span th:text="${notification.getDeliveryState()}"></span>
                    </div>
                    <div>
                        주문번호: <span th:text="${notification.getOrder().getId()}"></span>
                    </div>
                    <div>
                        상품명:
                        <span th:if="${#strings.length(notification.getOrder().getOrderItems().get(0).getProduct().getName()) > 10}"
                              th:text="${#strings.substring(notification.getOrder().getOrderItems().get(0).getProduct().getName(), 0, 10)} + '...'"></span>
                        <span th:unless="${#strings.length(notification.getOrder().getOrderItems().get(0).getProduct().getName()) > 10}"
                              th:text="${notification.getOrder().getOrderItems().get(0).getProduct().getName()}"></span>
                        <span th:if="${notification.getOrder().getOrderItems().size() > 1}">..외
                            <span th:text="${notification.getOrder().getOrderItems().size() - 1}"></span>개</span>
                    </div>
                    <div>
                        주문총액: <span th:text="${#numbers.formatDecimal(notification.getOrder().getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + '원'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
