<!DOCTYPE html>
<html data-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="/resource/common/common.js"></script>

    <link rel="stylesheet" href="/resource/common/common.css">

    <script>
        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
    </script>

    <title>TrendPick</title>
</head>
<body class="mx-auto" style="width:80%; min-height:100vh; display: flex; flex-direction: column;">
<div class="bg-base-100 flex-wrap border-b-2 border-gray-300">
    <div class="nav3">

        <br/>
        <!-- Title Image Section -->
        <div class="px-2 lg:flex-none w-16 h-16">
            <a  href="/trendpick/products/list?main-category=전체">
                <div class="flex items-center w-16 h-16">
                    <img th:src="|/images/trendpick_logo.png|" alt="TrendPick"/>
                    <h1 class="text-4xl font-bold ml-4">TrendPick</h1>
                </div>
            </a>
        </div>
        <br/>

        <div class="flex justify-between">
            <ul class="menu menu-horizontal px-1">
                <li th:if="${@rq.CheckLoginHtml()} and !${@rq.CheckAdminHtml()}"><a
                        href="/trendpick/products/list?main-category=recommend">추천</a></li>
                <li><a href="/trendpick/products/list?main-category=전체">전체</a></li>
                <li><a href="/trendpick/products/list?main-category=상의">상의</a></li>
                <li><a href="/trendpick/products/list?main-category=아우터">아우터</a></li>
                <li><a href="/trendpick/products/list?main-category=하의">하의</a></li>
                <li><a href="/trendpick/products/list?main-category=신발">신발</a></li>
                <li><a href="/trendpick/products/list?main-category=가방">가방</a></li>
                <li><a href="/trendpick/products/list?main-category=악세서리">악세서리</a></li>
                <li><a href="/trendpick/review/list">리뷰</a></li>
            </ul>
            <ul class="menu menu-horizontal flex justify-end flex-1 px-2 float-right">
                <li><a href="/trendpick/member/register" sec:authorize="isAnonymous()">회원가입</a></li>
                <li><a href="/trendpick/member/login" sec:authorize="isAnonymous()">로그인</a></li>
                <li class="ml-2 mt-1" th:if="${@rq.checkLogin()}">
                    <div th:if="${@rq.CheckMemberHtml()}" class="centered">
                        <div class="badge badge-accent badge-outline text-black">
                            <span th:text="${@rq.GetMember().username}+' 님'"></span>
                        </div>
                    </div>
                    <div th:if="${@rq.CheckBrandAdminHtml()}" class="centered">
                        <div class="badge badge-accent badge-outline text-black">
                            <span th:text="${@rq.GetMember().brand}+' 관리자'"></span>
                        </div>
                    </div>
                    <div th:if="${@rq.GetMember().role.value == 'ADMIN'}" class="centered">
                        <div class="badge badge-accent">
                            <span>관리자 계정</span>
                        </div>
                    </div>
                </li>
                <li>
                    <form th:action="|/trendpick/member/logout|" sec:authorize="isAuthenticated()" method="POST"
                          style="display: inline;">
                        <input class="link link-hover" type="submit" value="로그아웃">
                    </form>
                </li>
                <div th:if="${@rq.CheckLoginHtml()}">
                    <button class="btn btn-ghost btn-circle" th:if="!${@rq.CheckAdminHtml()}">
                        <div class="indicator">
                            <a href="/trendpick/usr/cart/list">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                                </svg>
                            </a>
                        </div>
                    </button>
                </div>
                <div th:if="${@rq.CheckLoginHtml()}">
                    <div class="dropdown" th:if="${@rq.CheckMemberHtml()}">
                        <label tabindex="0" class="flex btn btn-ghost btn-circle">
                            <div class="flex justify-center items-center">
                                <i class="fa-solid fa-bars"></i>
                            </div>
                        </label>
                        <ul tabindex="0"
                            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
                            <li>
                                  <span>
                                    <a th:href="@{/trendpick/member/info}"><span>내 정보</span></a>
                                  </span>
                            </li>
                            <li>
                                  <span>
                                    <a th:href="@{/trendpick/orders/usr/orders}"><span>내 주문내역</span></a>
                                  </span>
                            </li>
                            <li>
                                  <span>
                                    <a th:href="@{/trendpick/orders/usr/refunds}"><span>내 환불내역</span></a>
                                  </span>
                            </li>
                            <li>
                                  <span>
                                    <a th:href="@{/trendpick/member/info/address}"><span>배송지 관리</span></a>
                                  </span>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown" th:unless="${@rq.CheckMemberHtml()}">
                        <label tabindex="0" class="btn btn-ghost btn-circle">
                            <i class="fa-solid fa-bars"></i>
                        </label>
                        <ul tabindex="0"
                            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
                            <li>
                                  <span>
                                    <a th:href="@{|/trendpick/products/admin/list?page=0|}"><span>상품관리</span></a>
                                  </span>
                            </li>
                            <li>
                                  <span>
                                    <a th:href="@{|/trendpick/orders/admin/list?page=0|}"><span>판매내역</span></a>
                                  </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
<main layout:fragment="main"></main>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous">
</script>
</body>
</html>