<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>TrendPick</title>
</head>
<body>
<main layout:fragment="main" class="h-screen w-screen bg-white flex flex-col">
    <div class="flex-1 overflow-auto p-4">
        <div class="card bordered flex flex-col md:flex-row gap-4">
            <figure class="flex-1">
                <img th:src="|/images/${productResponse.mainFile}|" class="w-full h-full object-cover" alt="Product Image"/>
                <div class="mt-4 flex" th:each="image : ${productResponse.subFiles}">
                    <img th:src="|/images/${image}|" class="rounded w-24 mr-2" alt="Sub Image">
                </div>
            </figure>
            <div class="card-body flex-1">
                <h2 class="text-2xl font-bold" th:text="${productResponse.name}"></h2>
                <div class="badge my-2">Brand: <span th:text="${productResponse.brand}"></span></div>
                <p class="mb-4" th:text="${productResponse.description}">Product Description</p>
                <ul class="mb-8">
                    <li>Main Category: <span th:text="${productResponse.mainCategory}">Main Category</span></li>
                    <li>Sub Category: <span th:text="${productResponse.subCategory}">Sub Category</span></li>
                    <li>Brand: <span th:text="${productResponse.brand}">Brand</span></li>
                    <li>Price: <span class="text-orange-600 font-bold text-lg" th:text="${#numbers.formatDecimal(productResponse.price, 0, 'COMMA', 0, 'POINT')} + ' 원'">Price</span></li>
                    <li>Stock: <span th:text="${productResponse.stock}">Stock</span></li>
                </ul>
                <div class="mb-4">
                    <label for="quantity" class="font-bold">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1" class="w-16 border border-gray-300 rounded-md px-2 py-1">
                </div>
                <div class="flex-grow"></div>
                <div class="flex justify-between card-actions">
                    <a href="@{/trendpick/cart/add/${productResponse.id}}" class="btn btn-accent">Add to Cart</a>
                    <a href="@{/trendpick/productResponses/buy/${productResponse.id}}" class="btn btn-green">Buy Now</a>
                    <a href="/trendpick/productResponses/list" class="btn">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
