<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>TrendPick</title>
</head>
<body>
<main layout:fragment="main" class="h-screen w-screen bg-white flex flex-col pb-4" style="max-width: 100%; flex-grow: 1;">
    <div class="flex flex-col md:flex-row gap-4 bg-white border rounded-md p-4" style="height:800px">
        <figure class="flex-1 flex flex-col items-center">
            <img th:src="|/images/${productResponse.mainFile}|" class="image-main object-cover cursor-pointer"
                 alt="Product Image" onclick="openModal()"/>
            <div class="mt-4 flex flex-row overflow-x-auto space-x-2">
                <div th:each="image : ${productResponse.subFiles}">
                    <img th:src="|/images/${image}|" class="rounded w-24 mr-2 my-2 cursor-pointer" alt="Sub Image" onclick="openModal()">
                </div>

                <div id="myModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
                    <div class="flex items-center justify-center min-h-screen">
                        <div class="inline-block align-middle bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
                            <div>
                                <img id="modalImage" class="w-full" src="" alt="Sub Image">
                            </div>
                            <div class="mt-5 sm:mt-6">
                                <button type="button" class="btn btn-accent" onclick="closeModal()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </figure>

        <div class="flex-1 px-4">
            <div class="mb-4 flex flex-wrap overflow-auto space-x-2">
                <div th:each="tag : ${productResponse.tags}" class="badge-large mr-2 mb-2">
                    <span th:text="'#'+${tag.name}" class="text-gray-400"></span>
                </div>
            </div>
            <hr class="my-4">
            <h2 class="text-2xl font-bold" th:text="${productResponse.name}"></h2>
            <div class="badge my-2"><span th:text="${productResponse.brand}"></span></div>
            <p class="mb-4" th:text="${productResponse.description}"></p>

            <!-- sizes -->
            <div class="mb-4">
                <label for="size" class="block text-gray-600 font-semibold mb-2">Size</label>
                <select id="size" name="size" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option th:each="size : ${productResponse.sizes}" th:value="${size}" th:text="${size}"></option>
                </select>
            </div>

            <!-- colors -->
            <div class="mb-4">
                <label for="color" class="block text-gray-600 font-semibold mb-2">Color</label>
                <select id="color" name="color" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option th:each="color : ${productResponse.colors}" th:value="${color}" th:text="${color}"></option>
                </select>
            </div>

            <div class="mb-8">
                <div>가격:
                    <span
                          th:text="${#numbers.formatDecimal(productResponse.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"
                          th:class="${productResponse.discountRate > 0 ? 'text-black' : 'text-orange-600 font-bold text-lg'}"
                          th:style="${productResponse.discountRate > 0 ? 'text-decoration: line-through;' : ''}">
                        Price
                    </span><br>
                    <div class="font-bold text-xl" th:if="${productResponse.discountRate > 0 && productResponse.discountedPrice > 0}">
                        <span class="text-orange-600" th:text="${productResponse.discountRate} + '%'"></span>
                        <span th:text="${#numbers.formatDecimal(productResponse.discountedPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-2" th:if="${@rq.checkLogin()} and !${@rq.checkAdmin()}">
                <div class="mb-4">
                    <div class="flex items-center">
                        <button onclick="decreaseValue()" class="px-3 py-2 bg-gray-200 text-gray-800">-</button>
                        <input type="number" id="quantity" name="quantity" min="1" th:max="${productResponse.stock}" value="1"
                               class="w-16 text-center mx-2 py-2 text-gray-800 border-none">
                        <button onclick="increaseValue()" class="px-3 py-2 bg-gray-200 text-gray-800">+</button>
                    </div>
                </div>
                <form class="card-actions justify-start" id="couponForm">
                    <input type="hidden" name="productId" th:value="${productResponse.id}"/>
                    <button type="submit" class="btn btn-sm btn-outline" onclick="submitCouponForm(event)">
                        <i class="fa-solid fa-circle-down"></i>
                        쿠폰받기
                    </button>
                </form>
                <div class="form-container">
                    <form id="addToCartForm" th:action="@{/trendpick/usr/cart/add}" th:object="${productRequest}" method="post" onsubmit="return confirmCart()">
                        <input type="hidden" name="productId" th:value="${productResponse.id}">
                        <input type="hidden" name="size" id="addToCartSize" value="1">
                        <input type="hidden" name="color" id="addToCartColor" value="1">
                        <input type="hidden" id="addToCartQuantity" name="quantity" value="1" min="1"/>
                        <button type="submit" class="btn btn-accent">Add to Cart</button>
                    </form>
                    <form id="ProductOptionForm" th:action="@{/trendpick/orders/order/product}" th:object="${productRequest}" method="get" onsubmit="return confirmOrder()">
                        <input type="hidden" name="productId" th:value="${productResponse.id}">
                        <input type="hidden" name="size" id="buySize" value="1">
                        <input type="hidden" name="color" id="buyColor" value="1">
                        <input type="hidden" id="buyQuantity" name="quantity" value="1" min="1"/>
                        <button type="submit" class="btn btn-accent">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Review Section -->
    <div class="mt-4 flex flex-col space-y-4">
        <h1 class="text-2xl font-semibold">리뷰 보기</h1>
        <div class="bg-white rounded-md shadow p-4" th:if="${productReview != null}">
            <div class="grid grid-cols-5 gap-4 border-b pb-2">
                <h3 class="text-center font-semibold py-2">제목</h3>
                <h3 class="text-center font-semibold py-2">리뷰 이미지</h3>
                <h3 class="text-center font-semibold py-2">내용</h3>
                <h3 class="text-center font-semibold py-2">작성자</h3>
                <h3 class="text-center font-semibold py-2">별점</h3>
            </div>

            <style>
                .black-link {
                    color: black;
                    font-size: 1.2em;
                    font-weight: bold;
                    text-decoration: none;
                }

                .black-link:hover {
                    text-decoration: none;
                }

                .custom-text {
                    font-size: 1.2em;
                    font-weight: bold;
                }

                .star-icon {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: gold;
                }
            </style>

            <div th:each="review : ${productReview}" class="grid grid-cols-5 gap-4 border-b py-2">
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/review/{reviewId}(reviewId=${review.id})}" class="black-link">
                        <p th:text="${review.title}" class="custom-text"></p>
                    </a>
                </div>
                <div class="flex justify-center py-2">
                    <a th:href="@{/trendpick/review/{reviewId}(reviewId=${review.id})}">
                        <img th:src="|/images/${review.mainFile}|" class="object-cover w-24 h-24 rounded-full" alt="Review image"/>
                    </a>
                </div>
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/review/{reviewId}(reviewId=${review.id})}" class="black-link">
                        <p th:text="${review.content}" class="custom-text"></p>
                    </a>
                </div>
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/review/{reviewId}(reviewId=${review.id})}" class="black-link">
                        <p th:text="${review.writer}" class="custom-text"></p>
                    </a>
                </div>
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/review/{reviewId}(reviewId=${review.id})}">
                        <span th:text="${#strings.repeat('★', review.rating)}" class="star-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- QnA Section -->
    <div class="mt-4 flex flex-col space-y-4">
        <h1 class="text-2xl font-semibold">QnA 상품문의</h1>
        <div th:if="${@rq.checkLogin()}">
            <div th:if="${@rq.checkMember()}" class="flex justify-end">
                <a th:href="@{|/trendpick/customerservice/asks/register?product=${productResponse.id}|}" class="btn btn-outline btn-accent text-black btn-sm">문의 하기</a>
            </div>
        </div>
        <div class="bg-white rounded-md shadow p-4" th:if="${productAsk != null}">
            <div class="grid grid-cols-5 gap-4 border-b pb-2">
                <h3 class="text-center font-semibold py-2">번호</h3>
                <h3 class="text-center font-semibold py-2">답변 여부</h3>
                <h3 class="text-center font-semibold py-2">제목</h3>
                <h3 class="text-center font-semibold py-2">작성자</h3>
                <h3 class="text-center font-semibold py-2">문의 일자</h3>
            </div>

            <div th:each="ask, loop : ${productAsk}" class="grid grid-cols-5 gap-4 border-b py-2">
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/customerservice/asks/{askId}(askId=${ask.askId})}" class="text-blue-600 hover:underline">
                        <span th:text="${productAsk.number * 10 + loop.count}"></span>
                    </a>
                </div>
                <div class="text-center py-2">
                    <p th:if="${ask.status} == 'YET'">답변 예정</p>
                    <p th:unless="${ask.status} == 'YET'">답변 완료</p>
                </div>
                <div class="text-center py-2">
                    <a th:href="@{/trendpick/customerservice/asks/{askId}(askId=${ask.askId})}" class="text-blue-600 hover:underline">
                        <p th:text="${ask.title}"></p>
                    </a>
                </div>
                <div class="text-center py-2">
                    <p th:text="${ask.memberName}"></p>
                </div>
                <div class="text-center py-2">
                    <span th:text="${#temporals.format(ask.createdDate, 'YY/MM/dd')}"></span>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>

    <script>

        // 사이즈 선택 시 히든 인풋에 값 연동 및 초기화
        const sizeSelect = document.getElementById('size');
        const addToCartSizeInput = document.getElementById('addToCartSize');
        const buySizeInput = document.getElementById('buySize');

        sizeSelect.addEventListener('change', function() {
            const selectedSize = this.value;
            addToCartSizeInput.value = selectedSize;
            buySizeInput.value = selectedSize;
        });

        // 색상 선택 시 히든 인풋에 값 연동 및 초기화
        const colorSelect = document.getElementById('color');
        const addToCartColorInput = document.getElementById('addToCartColor');
        const buyColorInput = document.getElementById('buyColor');

        colorSelect.addEventListener('change', function() {
            const selectedColor = this.value;
            addToCartColorInput.value = selectedColor;
            buyColorInput.value = selectedColor;
        });

        // 페이지 로드 시 초기화
        window.addEventListener('DOMContentLoaded', function() {
            // 사이즈 초기화
            const initialSize = sizeSelect.value;
            addToCartSizeInput.value = initialSize;
            buySizeInput.value = initialSize;

            // 색상 초기화
            const initialColor = colorSelect.value;
            addToCartColorInput.value = initialColor;
            buyColorInput.value = initialColor;
        });

        function openModal() {
            document.getElementById("myModal").classList.remove("hidden");
            document.getElementById("modalImage").src = event.target.src;
        }

        function closeModal() {
            document.getElementById("myModal").classList.add("hidden");
        }

        function increaseValue() {
            var value = parseInt(document.getElementById('quantity').value, 10);
            value = isNaN(value) ? 1 : value;
            value++;
            document.getElementById('quantity').value = value;
            document.getElementById('buyQuantity').value = value; // This line was added
            document.getElementById('addToCartQuantity').value = value; // This line was added
        }

        function decreaseValue() {
            var value = parseInt(document.getElementById('quantity').value, 10);
            value = isNaN(value) ? 1 : value;
            if(value > 1){
                value--;
            }
            document.getElementById('quantity').value = value;
            document.getElementById('buyQuantity').value = value; // This line was added
            document.getElementById('addToCartQuantity').value = value; // This line was added
        }

        function syncQuantities() {
            const quantity = document.getElementById('quantity').value;
            document.getElementById('addToCartQuantity').value = quantity;
            document.getElementById('buyQuantity').value = quantity;
        }

        // 페이지 로딩 완료 시에 수량 동기화
        window.addEventListener('load', syncQuantities);

        // quantity 값 변경 시에 수량 동기화
        document.getElementById('quantity').addEventListener('change', syncQuantities);

        $(document).ready(function () {
            $('#quantity').on('input', function () {
                var quantity = $(this).val();
                $('#addToCartQuantity').val(quantity);
            });

            $('#quantity').on('input', function () {
                var quantity = $(this).val();
                $('#productOptionQuantity').val(quantity);
            });
        });

        function confirmCart() {
            var confirmAction = confirm("해당 상품을 장바구니에 추가하시겠습니까?");
            if (confirmAction) {
                // 폼 전송
                return true;
            } else {
                // 폼 전송 후 페이지 이동 취소
                setTimeout(function () {
                    window.stop();
                }, 0);
                return false;
            }
        }

        function confirmOrder() {
            var confirmAction = confirm("해당 상품을 주문하시겠습니까 ?");
            if (confirmAction) {
                // 폼 전송
                return true;
            } else {
                // 폼 전송 후 페이지 이동 취소
                setTimeout(function () {
                    window.stop();
                }, 0);
                return false;
            }
        }

        //쿠폰창 띄우기
        function submitCouponForm(event) {
            event.preventDefault();
            var form = document.getElementById("couponForm");
            var productId = form.querySelector("[name='productId']").value;
            var url = '/trendpick/coupons/box?productId=' + productId;
            window.open(url, 'couponWindow', 'width=800,height=600,scrollbars=yes');
        }
    </script>
</main>
</body>
</html>