<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'TrendPick | ' + ${mainCategoryName}"></title>
    <style>
        .carousel-item img {
            height: 300px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<main layout:fragment="main" class="bg-white">
    <script>
        $(document).ready(function() {
            function switchToSlide(target) {
                var $target = $(target);

                if ($target.length) {
                    $('.carousel-item').hide();
                    $target.show();
                }
            }

            $('.btn.btn-circle').click(function(e) {
                e.preventDefault();

                var target = $(this).data('target');
                switchToSlide(target);
            });

            setInterval(function() {
                var $currentSlide = $('.carousel-item:visible');
                var $nextSlide = $currentSlide.next('.carousel-item');
                var nextSlideId = $nextSlide.length ? $nextSlide.attr('id') : $('.carousel-item').first().attr('id');

                switchToSlide('#' + nextSlideId);
            }, 4000);  // 4초 마다 다음 슬라이드로 넘어감
        });
    </script>
    <div th:if="${mainCategoryName} != '추천' or ${mainCategoryName} != 'search'" class="flex flex-row flex-wrap bg-gray-200 p-2 rounded">
        <a th:href="@{/trendpick/products/list(main-category=${mainCategoryName},sub-category='전체')}"
           th:text="전체"
           class="mx-1 my-1 px-2 py-1 bg-gray-300 rounded-full text-sm font-medium text-gray-700 hover:bg-gray-400">
        </a>
        <a th:each="subCategory : ${subCategories}"
           th:href="@{/trendpick/products/list(main-category=${mainCategoryName},sub-category=${subCategory.name})}"
           th:text="${subCategory.name}"
           class="mx-1 my-1 px-2 py-1 bg-gray-300 rounded-full text-sm font-medium text-gray-700 hover:bg-gray-400">
        </a>
    </div>
    <div th:if="${mainCategoryName}== '전체'" class="carousel w-full">
        <div id="slide1" class="carousel-item relative w-full">
            <img src="https://kr.object.ncloudstorage.com/trendpick/home/TREND1.png" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a data-target="#slide3" class="btn btn-circle">❮</a>
                <a data-target="#slide2" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
            <img src="https://kr.object.ncloudstorage.com/trendpick/home/TREND2.png" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a data-target="#slide1" class="btn btn-circle">❮</a>
                <a data-target="#slide3" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
            <img src="https://kr.object.ncloudstorage.com/trendpick/home/TREND3.png" class="w-full" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a data-target="#slide2" class="btn btn-circle">❮</a>
                <a data-target="#slide1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 m-4">
        <div th:if="(${mainCategoryName} != '추천' or ${mainCategoryName} != 'search') and ${@rq.checkLogin()} and ${@rq.checkAdmin()}"
             class="card bordered cursor-pointer flex justify-center items-center"
             th:onclick="'window.location=\'/trendpick/products/register\';'">
            <figure class="p-8">
                <span class="text-lg font-bold">새 상품 생성</span>
            </figure>
        </div>
        <div th:each="product, stat : ${productResponses}">
            <a th:href="@{/trendpick/products/{id}(id=${product.id})}">
                <div th:if="${mainCategoryName} == '추천'"
                     class="flex-none bg-light-blue text-gray-800 text-center rounded-full w-8 h-8 flex items-center justify-center"
                     style="position: absolute; z-index: 1; font-size: 20px; background-color: lightgrey; margin-left: 10px; margin-top: 10px;">
                    <span th:text="${(stat.index+1)+productResponses.number*18}" style="font-weight: bold;"></span>
                </div>
                <div class="card bordered shadow-xl overflow-auto w-full" th:href="@{/trendpick/products/{id}(id=${product.id})}">
                    <figure class="w-full h-48 md:h-64 lg:h-80 flex items-center justify-center">
                        <img class="w-full h-full object-cover" th:src="|https://kr.object.ncloudstorage.com/trendpick/${product.mainFile}|" alt="Product Image"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="text-lg font-bold" th:text="${product.name}" style="white-space: normal; overflow-wrap: break-word; line-height: 1.2em; min-height: 2.4em;"></h2>
                        <div class="flex justify-between items-center">
                            <div>
                                <div class="badge"><span th:text="${product.brand}"></span></div>
                                <div><span
                                        th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"
                                        th:class="${product.discountRate > 0 ? 'text-black' : 'text-orange-600 font-bold'}"
                                        th:style="${product.discountRate > 0 ? 'text-decoration: line-through;' : ''}"></span><br>
                                    <div class="font-bold" th:if="${product.discountRate > 0 && product.discountedPrice > 0}">
                                        <span class="text-orange-600" th:text="${product.discountRate} + '%'"></span>
                                        <span th:text="${#numbers.formatDecimal(product.discountedPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actions mb-2" sec:authorize="isAuthenticated()"> <!-- Here we use mb-2 to move the buttons up -->
                                <div th:if="${@rq.checkAdmin()}" class="items-center">
                                    <div th:if="${@rq.getBrandName()} == ${product.brand}" class="flex">
                                        <div>
                                            <a th:href="@{/trendpick/products/edit/{productId}(productId=${product.id})}" class="btn btn-outline btn-accent btn-sm mr-2 text-black">Edit</a>
                                        </div>
                                        <div>
                                            <a href="javascript:;" onclick="if (confirm('정말로 삭제하시겠습니까?')) $(this).next().submit();" class="btn btn-outline btn-accent btn-sm text-black">Delete</a>
                                        </div>
                                        <form hidden th:action="|/trendpick/products/${product.id}|" method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br/><br/><br/>

    <div class="flex justify-center my-4"
         th:if="${productResponses != null and not #lists.isEmpty(productResponses.content)}">
        <div class="btn-group">
            <div th:if="${productResponses.hasPrevious()}">
                <a th:href="@{|/trendpick/products/list?main-category=${mainCategoryName}&sub-category=${subCategoryName}&page=${productResponses.number - 1}|}" class="btn">Previous</a>
            </div>
            <div th:if="${productResponses.number/5 * 5 + 1 + 4} < ${productResponses.totalPages}">
                <div class="flex">
                    <div th:each="i : ${#numbers.sequence(productResponses.number/5 * 5 + 1, productResponses.number/5 * 5 + 1 + 4)}">
                        <a th:href="@{|/trendpick/products/list?main-category=${mainCategoryName}&sub-category=${subCategoryName}&page=${i - 1}|}"
                           th:text="${i}" th:class="${productResponses.number == (i - 1) ? 'btn btn-active' : 'btn'}"></a>
                    </div>
                </div>
            </div>
            <div th:unless="${productResponses.number/5 + 1 + 4} < ${productResponses.totalPages}">
                <div class="flex">
                    <div th:each="i : ${#numbers.sequence(productResponses.number/5 * 5 + 1, productResponses.totalPages)}">
                        <a th:href="@{|/trendpick/products/list?main-category=${mainCategoryName}&sub-category=${subCategoryName}&page=${i - 1}|}"
                           th:text="${i}" th:class="${productResponses.number == (i - 1) ? 'btn btn-active' : 'btn'}"></a>
                    </div>
                </div>
            </div>
            <div th:if="${productResponses.hasNext()}">
                <a th:href="@{|/trendpick/products/list?main-category=${mainCategoryName}&sub-category=${subCategoryName}&page=${productResponses.number + 1}|}"class="btn">Next</a>
            </div>
        </div>
    </div>
    <footer class="bg-gray-800 py-20 mt-20">
        <div class="w-4/5 m-auto pt-5">
            <p class="text-xl text-gray-400 text-center" style="font-size: 30px">누적 접속자: <span class="font-bold text-gray-100" th:text="${totalView} + ' 명'"></span></p>
        </div>
    </footer>
</main>
</body>
</html>
