<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'TrendPick | ' + ${mainCategoryName}"></title>
</head>
<body>
<main layout:fragment="main" class="bg-white">
    <div class="grid grid-flow-row-dense grid-cols-6 gap-4 m-4">
        <!-- 첫 번째 카드 클릭 시 생성 창으로 이동 -->
        <div class="card bordered cursor-pointer flex justify-center items-center" th:onclick="'window.location=\'/trendpick/products/register\';'">
            <figure class="p-8">
                <span class="text-lg font-bold">새 상품 생성</span>
            </figure>
        </div>
        <div th:each="product : ${productResponses}" class="card bordered">
            <figure>
                <img th:src="|/images/${product.mainFile}|" alt="Product Image"/>
                <div sec:authorize="isAuthenticated()" class="card-actions">
<!--                    <div sec:authorize="hasRole('ADMIN') or hasRole('BRAND_ADMIN')" class="card-actions">-->
                    <form th:action="|/trendpick/products/edit/${product.id}|" method="post">
                        <input type="submit" value="Edit" class="btn"/>
                    </form>
                    <form th:action="|/trendpick/products/${product.id}|" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" value="delete" class="btn"/>
                    </form>
                </div>
            </figure>
            <div class="card-body">
                <h2 class="text-lg font-bold" th:text="${product.name}"></h2>
                <div class="badge">Brand: <span th:text="${product.brand}"></span></div>
                <div><span class="text-orange-600 font-bold" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></span></div>
                <div class="justify-end card-actions">
                    <a th:href="@{/trendpick/products/{id}(id=${product.id})}" class="btn btn-accent">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center my-4" th:if="productResponses != null">
        <div class="btn-group">
            <a th:if="${productResponses.hasPrevious()}" th:href="@{/trendpick/products/list(page=${productResponses.number-1})}" class="btn">Previous</a>
            <span th:each="i : ${#numbers.sequence(0, productResponses.totalPages)}">
            <a th:href="@{/trendpick/products/list(page=${i})}" th:text="${i+1}" th:class="${productResponses.number == i ? 'btn btn-active' : 'btn'}"></a>
        </span>
            <a th:if="${productResponses.hasNext()}" th:href="@{/trendpick/products/list(page=${productResponses.number+1})}" class="btn">Next</a>
        </div>
    </div>
</main>

</body>
</html>
