<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
</head>
<main class="min-h-screen flex flex-col" layout:fragment="main">
    <h1>주문상세</h1>
    <div class="border p-4 mb-4">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">번호</th>
                <th class="text-center" scope="col">상품명</th>
                <th class="text-center" scope="col">주문수량</th>
                <th class="text-center" scope="col">주문금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem, loop : ${order.orderItems}">
                <td class="text-center" th:text="${loop.count}"></td>
                <td class="text-center" th:text="${orderItem.productName}"></td>
                <td class="text-center" th:text="${orderItem.count}"></td>
                <td class="text-center" th:text="${orderItem.formattedTotalPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="border p-4 mb-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">주문일시</th>
                <td class="text-center" th:text="${#temporals.format(order.orderDate, 'YY-MM-dd')}"></td>
            </tr>
            <tr>
                <th scope="row">결제수단</th>
                <td class="text-center" th:text="${order.paymentMethod}"></td>
            </tr>
            <tr>
                <th scope="row">총 결제금액</th>
                <td class="text-center" th:text="${order.formattedPaymentPrice}"> 원</td>
            </tr>
            <tr>
                <th scope="row">배송지</th>
                <td class="text-center" th:text="${address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    <form th:action="@{|/trendpick/orders/cancel/${order.orderId}/|}" method="post">-->
<!--        <button id="payment-button" class="btn btn-natural btn-lg"-->
<!--                type="submit" class="w-100 btn btn-lg btn-outline-primary">환불-->
<!--        </button>-->
<!--    </form>-->
</main>
</html>