<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 폼</title>
</head>
<body>
<main layout:fragment="main" class="bg-white">
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <br/><br/>
    <h1 class="text-center text-5xl font-bold mb-6">주문서</h1>
    <form th:action="@{/trendpick/orders/order}" th:object="${orderForm}" method="post">
        <h1>회원 정보</h1>
        <div class="border p-4 mb-4">
            <table class="table">
                <tbody>
                <input type="hidden" th:field="*{memberInfo.memberId}" th:value="${orderForm.memberInfo.memberId}"/>
                <tr>
                    <th scope="row">회원 이름</th>
                    <td>
                        <input type="text" th:field="*{memberInfo.name}" th:value="${orderForm.memberInfo.name}"
                               readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">이메일</th>
                    <td>
                        <input type="text" th:field="*{memberInfo.email}" th:value="${orderForm.memberInfo.email}"
                               readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">번호</th>
                    <td>
                        <input type="text" th:field="*{memberInfo.phone}" th:value="${orderForm.memberInfo.phone}"
                               readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>
                        <input type="text" th:field="*{memberInfo.address}" th:value="${orderForm.memberInfo.address}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h1>주문상품 정보</h1>
        <div class="border p-4 mb-4 relative bg-white shadow rounded-lg">
            <table class="table w-full table-compact mb-8">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th class="text-center" scope="col">번호</th>
                    <th class="text-center" scope="col">상품명</th>
                    <th class="text-center" scope="col">주문수량</th>
                    <th class="text-center" scope="col">주문금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItem, itemStat : ${orderForm.orderItems}" class="bg-blue-50">
                    <td class="text-center"><input type="hidden" th:field="*{orderItems[__${itemStat.index}__].productId}" th:value="${orderItem.productId}" /></td>
                    <td class="text-center" th:text="${itemStat.count}">1</td>
                    <td class="text-center"><input class="text-center" type="text" id="Product" th:data-total-product="${orderItem.productName}" th:field="*{orderItems[__${itemStat.index}__].productName}" th:value="${orderItem.productName}" readonly="readonly" /></td>
                    <td class="text-center"><input class="text-center" type="number" th:field="*{orderItems[__${itemStat.index}__].count}" th:value="${orderItem.count}" readonly="readonly" /></td>
                    <td class="text-center font-bold">
                        <input class="text-center" type="hidden" th:field="*{orderItems[__${itemStat.index}__].price}" th:value="${orderItem.price}" readonly="readonly" />
                        <span id="totalPrice" th:data-total-price="${SuperTotalPrice}" th:text="${#numbers.formatDecimal(orderItem.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-black p-2 rounded-lg font-bold text-center" style="background-color:#f8f9fa">
                전체 총 가격: <span th:text="${#numbers.formatDecimal(SuperTotalPrice, 0, 'COMMA', 0, 'POINT')}"></span> 원
            </div>
        </div>

        <h1>결제 정보</h1>
        <div class="border p-4 mb-4">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">결제 방법</th>
                    <td>
                        <div class="flex items-center">
                            <div class="mr-2">
                                <input type="radio" id="creditCard" name="paymentMethod" value="creditCard">
                                <label for="creditCard">신용카드</label>
                            </div>
                            <div class="mr-2">
                                <input type="radio" id="bankTransfer" name="paymentMethod" value="bankTransfer">
                                <label for="bankTransfer">계좌이체</label>
                            </div>
                            <div class="mr-2">
                                <input type="radio" id="cash" name="paymentMethod" value="cash">
                                <label for="cash">현금</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="payment-method"></div>
        <div id="agreement"></div>

<!--        <div class="card mb-4 rounded-3">-->
<!--            <button type="submit" class="w-70 btn btn-lg btn-neutral"-->
<!--                    th:text="${#numbers.formatDecimal(SuperTotalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원 결제하기'"></button>-->
<!--        </div>-->
        <div class="flex justify-center">
            <button id="payment-button" class="btn btn-natural btn-lg"
                    th:text="${#numbers.formatDecimal(SuperTotalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원 결제하기'">
            </button>
        </div>
    </form>

    <script>
        const clientKey = "test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq"
        const customerKey = PaymentWidget.ANONYMOUS
        const button = document.getElementById("payment-button")
        const totalPrice = document.getElementById('totalPrice').dataset.totalPrice;
        const product = document.getElementById('Product').dataset.totalProduct;


        const paymentWidget = PaymentWidget(clientKey, customerKey)

        paymentWidget.renderPaymentMethods("#payment-method", { value: totalPrice })

        paymentWidget.renderAgreement('#agreement')


        button.addEventListener("click", function () {
            event.preventDefault();

            let formData = new FormData(form);

            let paymentData = {
                orderId: "1rcNIBAny7JdK4TtGVxbQ",
                orderName: product + " 외..",
                successUrl: "http://localhost:8080/payment/success",
                failUrl: "http://localhost:8080/payment/fail",
                customerEmail: "hyeri0603@naver.com",
                customerName: "이수호",
                memberInfo: {
                    memberId: formData.get('*{memberInfo.memberId}'),
                    name: formData.get('*{memberInfo.name}'),
                    email: formData.get('*{memberInfo.email}'),
                    phone: formData.get('*{memberInfo.phone}'),
                    address: formData.get('*{memberInfo.address}')
                },
                orderItems: formData.getAll('*{orderItems}'),
                paymentMethod: formData.get('paymentMethod')
            };

            paymentWidget.requestPayment({
                paymentData
            })

            // paymentWidget.requestPayment({
            //     orderId: "1rcNIBAny7JdK4TtGVxbQ",
            //     orderName: product + " 외..",
            //     successUrl: "http://localhost:8080/payment/success",
            //     failUrl: "http://localhost:8080/payment/fail",
            //     customerEmail: "hyeri0603@naver.com",
            //     customerName: "이수호"
            // })
        })

    </script>
</main>
</body>
</html>