<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <title>TrendPick | 주문</title>
</head>
<body>
<main layout:fragment="main" class="bg-white">
    <br/><br/>

    <h1 class="text-center text-5xl font-bold mb-6">주문서</h1>
    <h1>회원 정보</h1>
    <div class="border p-4 mb-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">회원 이름</th>
                <td>
                    <span id="username" th:text="${order.member.username}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td>
                    <span id="email" th:text="${order.member.email}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">번호</th>
                <td>
                    <span th:text="${order.member.phoneNumber}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">주소</th>
                <td>
                    <span id="address" th:text="${order.member.address}" th:value="${order.member.address}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1>주문상품 정보</h1>
    <div class="border p-4 mb-4 relative bg-white shadow rounded-lg">
        <table class="table w-full table-compact mb-8">
            <thead>
            <tr>
                <th class="text-center" scope="col">번호</th>
                <th></th>
                <th class="text-center" scope="col">상품명</th>
                <th class="text-center" scope="col">주문수량</th>
                <th class="text-center" scope="col">주문금액</th>
            </tr>
            </thead>
            <tbody>
            <span class="hidden" id="orderId" th:text="${order.id}" th:value="${order.id}"></span>
            <tr th:each="orderItem, itemStat : ${order.orderItems}" class="bg-blue-50">
                <td class="text-center" th:text="${itemStat.count}">1</td>
                <td class="image-main" style="width: 100px; height: 100px;">
                    <img th:src="|/images/${orderItem.product.getFile().getFileName()}|"  alt="Product Image"/>
                </td>
                <td class="text-center">
                    <span class="text-center" id="Product" th:text="${orderItem.product.name}"></span>
                </td>
                <td class="text-center">
                    <span class="text-center" th:text="${orderItem.quantity}"></span>
                </td>
                <td class="text-center font-bold">
                    <span th:text="${#numbers.formatDecimal(orderItem.getTotalPrice, 0, 'COMMA', 0, 'POINT')}" th:value="${order.getTotalPrice}"></span> 원
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-black p-2 rounded-lg font-bold text-center" style="background-color:#f8f9fa">
            전체 총 가격: <span th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}" th:value="${order.totalPrice}"></span> 원
            <span class="hidden" id="totalPrice" th:text="${order.totalPrice}" th:value="${order.totalPrice}"></span>
        </div>
    </div>

    <div id="payment-method"></div>
    <div id="agreement"></div>

    <div class="flex justify-center">
        <button id="payment-button" class="btn btn-wide btn-lg"
                th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA', 0, 'POINT')} + ' 원 결제하기'">
        </button>
    </div>

    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <link id="clientKey" th:data-contextPath="${@environment.getProperty('toss.clientKey')}"/>
    <script>
        const clientKey = document.querySelector("#clientKey").getAttribute("data-contextPath");
        const customerKey = PaymentWidget.ANONYMOUS
        const button = document.getElementById("payment-button")

        const totalPrice = document.getElementById('totalPrice').innerText;
        const product = document.getElementById('Product').innerText;
        const id = document.getElementById('orderId').innerText;
        const username = document.getElementById('username').innerText;
        const email = document.getElementById('email').innerText;

        const paymentWidget = PaymentWidget(clientKey, customerKey)

        paymentWidget.renderPaymentMethods("#payment-method", {value: totalPrice})
        paymentWidget.renderAgreement('#agreement')

        button.addEventListener("click", function () {
            paymentWidget.requestPayment({
                orderId: "ORD_" + self.crypto.randomUUID(),
                orderName: product + " 외..",
                successUrl: "http://localhost:8080/payment/" + id + "/success",
                failUrl: "http://localhost:8080/payment/" + id + "/fail",
                customerEmail: email,
                customerName: username
            })
        })
    </script>
    <br/><br/><br/><br/><br/><br/><br/>
</main>
</body>
</html>