<!DOCTYPE html>
<html layout:decorate="~{trendpick/usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>리뷰 상세 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .star-icon {
            color: gray; /* 비어있는 별 아이콘의 색상 */
        }

        .filled {
            color: red; /* 채워진 별 아이콘의 색상 */
        }

    </style>
</head>
<main layout:fragment="main">

    <div class="mt-3" style="width:100%; margin-right: 0;">
        <div class="flex justify-end mt-3" >
            <div th:if="${@rq.CheckLoginHtml()}">
                <div th:if="${reviewResponse.writer == currentUser}">
                    <a class="btn btn-accent btn-sm mr-2"
                       th:href="@{|/trendpick/review/edit/${reviewResponse.id}|}" style="width: 100px;">수정하기</a>
                    <a class="justify-center btn btn-accent btn-sm" href="javascript:;" style="width: 100px;"
                       onclick="if (confirm('정말로 삭제하시겠습니까?')) $(this).next().submit();">삭제하기</a>
                    <form hidden th:action="|/trendpick/review/delete/${reviewResponse.id}|" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex flex-col mt-5 justify-center items-start">
            <div class="card bordered flex flex-col w-full md:flex-row gap-4">
                <div class="md:flex w-full md:items-start ">
                    <div class="md:w-1/2 pr-4" >
                        <img th:src="@{|https://kr.object.ncloudstorage.com/trendpick/${reviewResponse.mainFile}|}" alt="main Image"/><br>

                    </div>
                    <div class="md:w-1/2 ml-auto pl-4" style="border-left: 1px solid #ccc;">
                        <h2 class="text-xl font-bold text-gray-800 mb-2 mt-2">제품명</h2>
                        <p class="mb-4" th:text="${reviewResponse.productName}"></p>

                        <h2 class="text-xl font-bold text-gray-800 mb-2">작성자</h2>
                        <p class="mb-4" th:text="${reviewResponse.writer}"></p>

                        <h2 class="text-xl font-bold text-gray-800 mb-2">별점</h2>
                        <p class="mb-4">
                            <span style="margin-right: 5px;" class="mr-2" th:each="star : ${#numbers.sequence(1, 5)}"
                            th:class="${star <= reviewResponse.rating} ? 'star-icon filled' : 'star-icon'"><i class="fa-solid fa-star"></i></span>
                            <span>(</span><span th:text="${reviewResponse.rating}"></span><span>)</span>
                        </p>

<!--                        <p class="mb-4"><span th:text="${reviewResponse.rating}"></span>/5</p>-->

                        <h2 class="text-xl font-bold text-gray-800 mb-2">제목</h2>
                        <p class="mb-4" th:text="${reviewResponse.title}"></p>

                        <h2 class="text-xl font-bold text-gray-800 mb-2">내용</h2>
                        <p class="mb-4" th:text="${reviewResponse.content}"></p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center w-full mb-8">
                <h2 class="mt-5">더 많은 후기 사진</h2>
                <div class="mt-4 grid grid-cols-3 gap-4 w-full">
                    <div th:each="subFile : ${reviewResponse.subFiles}">
                        <img th:src="@{|https://kr.object.ncloudstorage.com/trendpick/${subFile}|}" alt="sub Image" class="mx-auto w-full" style="height: 300px;"  />
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
</html>
