<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 등록 폼</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{|/trendpick/review/register/${productId}|}" th:object="${reviewSaveRequest}" method="post" enctype="multipart/form-data">
  <div class="form-control">
    <label class="label">
      <span class="label-text">제목</span>
    </label>
    <input type="text" name="title" placeholder="제목" class="input input-bordered" autofocus/>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">내용</span>
    </label>
    <input type="text" name="content" placeholder="내용" class="input input-bordered" autofocus/>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">메인 사진</span>
    </label>
    <input type="file" id="mainFile" name="mainFile" required>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">서브 사진들</span>
    </label>
    <input type="file" id="subFiles" name="subFiles" multiple="multiple" required>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">별점</span>
    </label>
    <select name="rating" class="input input-bordered" autofocus>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <button type="submit">리뷰 등록</button>
</form>
</body>
</html>